Package: grademan2
Version: 2.1.0
Architecture: all
Maintainer: Dirk Winkel <it@polarwinkel.de>
Installed-Size: 425
Depends: python3 (>= 3.7.0), python3-flask (>= 1.1.0), python3-markdown (>= 3.1.0), python3-jinja2 (>= 2.10.0), python3-yaml (>= 5.3.0), python3-wxgtk4.0 (>= 4.0.0), python3-waitress (>= 1.4.0)
Section: utils
Priority: optional
Homepage: https://polarwinkel.de/grademan.html
Description: student-, lesson- and grade-management for teachers
 GradeMan2 unites a lesson-management, a grade database, attendance-
 documentation with automatic sumamries like average grades.
 GradeMan2 is a server, the GUI will run in a browser, either on the 
 localhost or over the web if run behind a proxy server.
